<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Kimiya Poozesh</title>
</head>
<body>
    <div class="container">
        <div class="person">
            <img src="person1.jpg" alt="Person 1" class="round-picture">
            <h2>Mehrdad Hadidian</h2>
            <p>9912762828</p>
        </div>
        <div class="person">
            <img src="person1.jpg" alt="Person 2" class="round-picture">
            <h2>Kimiya Poozesh</h2>
            <p>9912762701</p>
        </div>
        <div class="person">
            <img src="person1.jpg" alt="Person 3" class="round-picture">
            <h2>Fatemeh ZareBahari</h2>
            <p>9912762828</p>
        </div>
    </div>
</body>
</html>

